@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

 :root {
    --White-text: hsl(0, 0%, 100%);
    --Grayish-blue-footer-text: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue-body: hsl(206, 13%, 34%);
    --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red: hsl(353, 100%, 62%);
    --Very-dark-gray-blue: rgba(44, 45, 63, 0.6);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
    --Light-red-CTA-text: hsl(356, 100%, 66%);
    --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --Very-dark-blue-headings: hsl(208, 49%, 24%);
}


/* General styles */

.translateZero {
    transform: translate(0) !important;
}

h2 {
    padding: 50px 30px;
    color: var(--Very-dark-blue-headings);
    font-weight: 700;
    line-height: 45px;
    font-size: 30px;
}

p {
    color: var(--Very-dark-grayish-blue-body);
    line-height: 35px;
}

.main-wrapper .section .hero {
    background: linear-gradient(rgba(247, 10, 38, 0.6), rgba(247, 10, 38, 0.6)), url(../images/images/bg-pattern-intro-mobile.svg) center/cover no-repeat;
    height: 100vh;
    border-bottom-left-radius: 90px;
}

.main-wrapper .section .hero .navber {
    display: flex;
    justify-content: space-between;
    padding: 3rem 30px 20px 30px;
    align-items: center;
}

.main-wrapper .section .hero .navber .aside-left .image {
    width: 70px;
}


/* NAVBAR */

.main-wrapper .section .hero .navber .aside-left .links {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    background: #f9919a;
    width: 40%;
    height: 100vh;
    transition: all .3s linear;
    transform: translateX(-100%);
}

.main-wrapper .section .hero .navber .aside-left .links ul {
    margin-left: 20px;
    margin-top: 40px;
}

.main-wrapper .section .hero .navber .aside-left .links ul li {
    list-style: none;
    margin: 30px 0;
}

.main-wrapper .section .hero .navber .aside-left .links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 5px;
    text-transform: capitalize;
    letter-spacing: 1px;
}


/* END NAVBAR */

.main-wrapper .section .hero .navber .login,
.sign-up {
    display: none;
}

.main-wrapper .section .hero .navber .toggle {
    color: white;
    font-size: 25px;
}

.main-wrapper .section .hero .hero-content {
    text-align: center;
    color: var(--White-text);
    padding-top: 10px;
}

.main-wrapper .section .hero .hero-content>.text {
    font-size: 30px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 10px;
}

.main-wrapper .section .hero .hero-content>.text-2 {
    font-size: 16px;
    padding: 15px 4rem 20px 4rem;
    font-weight: 300;
    color: white;
}

.main-wrapper .section .hero .hero-content .second-link {
    padding-top: 2rem;
}

.main-wrapper .section .hero .hero-content .second-link .free {
    padding: 15px 20px 15px 20px;
    background: white;
    font-size: 16px;
    margin-right: 20px;
    color: var(--Light-red-CTA-text);
    font-weight: 700;
    border-radius: 30px;
}

.main-wrapper .section .hero .hero-content .second-link .more {
    border: 2px solid white;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 30px;
    text-transform: capitalize;
}

@media screen and (min-width: 1100px) {
    a {
        text-decoration: none;
        color: white;
        padding-right: 5px;
    }
    .main-wrapper .section .hero .navber {
        align-items: center;
        padding: 50px 8% 0 8%;
    }
    .main-wrapper .section .hero .navber .login,
    .sign-up {
        display: initial;
        text-transform: capitalize;
        color: white;
    }
    .main-wrapper .section .hero .navber .aside-left {
        display: flex;
        gap: 50px;
    }
    .main-wrapper .section .hero .navber .aside-right>.sign-up {
        background: white;
        margin-left: 10px;
        padding: 7px 20px;
        color: var(--Light-red-CTA-text);
        border-radius: 85px;
        font-size: small;
    }
    .main-wrapper .section .hero .navber .toggle {
        display: none;
        color: white;
        font-size: 25px;
    }
    .main-wrapper .section .hero .navber .aside-left .links {
        display: initial;
    }
    .main-wrapper .section .hero .navber .aside-left .links ul {
        display: flex;
        gap: 20px;
    }
    .main-wrapper .section .hero .navber .aside-left .links ul li {
        list-style-type: none;
    }
    .main-wrapper .section .hero .hero-content>.text {
        font-size: 60px;
        font-weight: 300;
    }
    .main-wrapper .section .hero .hero-content>.text-2 {
        font-size: 20px;
        font-weight: 500;
    }
}

.main-wrapper .section .main {
    background: white;
    /* padding: 20px; */
}

.main-wrapper .section .main .article-1 {
    padding: 20px 20px 18rem 20px;
    text-align: center;
}

.main-wrapper .section .main .article-1 .img {
    background: url(../images/images/illustration-editor-mobile.svg) center/cover no-repeat;
    height: 350px;
    width: 350px;
    object-fit: cover;
    display: inline-block;
    padding-top: 20px;
}

.main-wrapper .section .main .article-1 .future {
    font-size: 24px;
    font-weight: 700;
    padding: 60px 0;
    color: var(--Very-dark-blue-headings);
}

.main-wrapper .section .main .article-2,
.article-3 {
    padding: 20px;
    text-align: center;
}

.main-wrapper .section .main .article-2 {
    background: linear-gradient(rgba(1, 1, 34, 0.90), rgba(1, 1, 34, 0.90)), url(../images/images/bg-pattern-circles.svg) center/cover no-repeat;
    padding: 12rem 0;
    border-top-right-radius: 85px;
    border-bottom-left-radius: 85px;
    position: relative;
}

.main-wrapper .section .main .article-2 .state {
    color: var(--White-text);
    margin-top: 40px;
}

.main-wrapper .section .main .article-2 .text {
    color: var(--White-text);
    font-weight: none;
    padding: 0 20px;
}

.main-wrapper .section .main .article-2 .phone {
    background: url(../images/images/illustration-phones.svg) center/cover no-repeat;
    height: 400px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    top: -200px;
    right: 0;
}

.main-wrapper .section .main .article-3 {
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.main-wrapper .section .main .article-3 .image-aside-left {
    background: url(../images/images/illustration-laptop-mobile.svg) center/cover no-repeat;
    height: 350px;
    width: 350px;
    object-fit: cover;
    display: inline-block;
    /* padding-bottom: 40px; */
}

@media screen and (min-width: 1100px) {
    .main-wrapper .section .main .article-1 {
        position: relative;
    }
    .main-wrapper .section .main .article-1 .future {
        font-size: 30px;
    }
    h2 {
        font-weight: 300;
        color: var(--Very-dark-blue-headings);
    }
    .main-wrapper .section .main .article-1 .img {
        position: absolute;
        right: -90px;
        bottom: 250px;
        height: 50%;
        width: 50%;
    }
    .main-wrapper .section .main .article-1 .article-1-content {
        width: 50%;
        padding-left: 5rem;
        text-align: left;
    }
    .main-wrapper .section .main .article-1 .article-1-content .article-1-text-1 .editor {
        padding-bottom: 10px;
        padding-left: 0;
    }
    .main-wrapper .section .main .article-1 .article-1-content .article-1-text-2 .management {
        padding-bottom: 10px;
        padding-left: 0;
    }
    .main-wrapper .section .main .article-2 {
        padding: 5px 0;
        text-align: left;
    }
    .main-wrapper .section .main .article-2 .article-2-content {
        margin: -35px 8rem 0 40%;
    }
    .main-wrapper .section .main .article-2 .article-2-content .state {
        margin-top: 40px;
    }
    .main-wrapper .section .main .article-2 .text {
        font-weight: none;
        padding: 0 20px 40px 20px;
    }
    .main-wrapper .section .main .article-2 .phone {
        position: absolute;
        top: -30px;
        left: 100px;
    }
    .main-wrapper .section .main .article-3 {
        position: relative;
    }
    .main-wrapper .section .main .article-3 .image-aside-left {
        height: 60%;
        width: 60%;
        position: absolute;
        left: -220px;
        bottom: 120px;
    }
    .main-wrapper .section .main .article-3 .article-3-content {
        margin-left: 40%;
        padding-right: 10rem;
        text-align: left;
    }
    .main-wrapper .section .main .article-3 .article-3-content .article-text {
        margin: 80px 0;
    }
    .main-wrapper .section .main .article-3 .article-3-content .article-text>.simple {
        padding-top: 5rem;
        margin-bottom: -30px;
        padding-top: 20px;
        padding-left: 0;
        text-align: left;
    }
    .main-wrapper .section .main .article-3 .article-3-content .article-text>p {
        margin-bottom: -40px;
    }
}

.main-wrapper .section footer {
    text-align: center;
    background: var(--Very-dark-black-blue-footer-background);
    padding: 4rem 0;
    border-top-right-radius: 85px;
    color: var(--White-text);
}

.main-wrapper .section footer .footer-blog>img {
    width: 85px;
    padding-top: 25px;
    padding-bottom: 4rem;
}

.main-wrapper .section footer .product {
    margin-bottom: 20px;
    line-height: 35px;
}

.main-wrapper .section footer .product li:nth-child(1) {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 20px;
    padding-bottom: 15px;
}

.main-wrapper .section footer .company {
    line-height: 35px;
    margin-bottom: 20px;
}

.main-wrapper .section footer .company li:nth-child(1) {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 20px;
    padding-bottom: 15px;
}

.main-wrapper .section footer .connect {
    line-height: 35px;
}

.main-wrapper .section footer .connect li:nth-child(1) {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 20px;
    padding-bottom: 15px;
}

@media screen and (min-width: 1100px) {
    .main-wrapper .section footer {
        text-align: initial;
        display: flex;
        justify-content: space-between;
        padding: 40px 15rem 20px 8rem;
        align-items: flex-start;
    }
    li {
        list-style-type: none;
    }
    .main-wrapper .section footer .footer-blog>img {
        padding-top: 5px;
    }
    .main-wrapper .section footer .product,
    .company,
    .connect>li {
        font-weight: 300;
        color: lightgray;
    }
    .main-wrapper .section .hero .navber .aside-left .links {
        /* display: none; */
        position: initial;
        background: none;
        width: initial;
        height: initial;
        transition: none;
    }
    .main-wrapper .section .hero .navber .aside-left .links ul {
        margin-top: initials;
    }
    .main-wrapper .section .hero .navber .aside-left .links ul {
        margin-top: 0;
    }
    .main-wrapper .section .hero .navber .aside-left {
        align-items: center;
    }
}